body {
    background:#e1d7d4;
    font-family: "Roboto Mono", monospace;
}

h1 {
    font-family: Rubik;
    margin: 0 auto;
    color: #e34e45;
    font-weight: 700;
    font-size: 2.5em;
   
}

h4 {
    margin-top: 0;
}

section {
    display: grid;
    
    justify-content: center; 
    padding: 150px;
    margin: 0 auto;
    text-align: center;
}

#table {
    background: #eee;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1.5rem;
    padding: 20px 50px;
    border-radius: 5px;
}

#table div {
    height: 75px;
    width: 75px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ADAAAA;
    
}